body{
    background-image: url(img/background.jpg);
    background-size: 100%;
    background-repeat: repeat;
}

header{
    display: flex;
    background-color:#24252A;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 20px;
    margin-bottom: 25px;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#24252A;
    height: 50px;
    text-align: center;
    padding-top: 35px;
    width: 100%;
}

a:hover{
    color: aqua;
}

li,a,#title{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

label{
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    font-size: 20px;
}
#title{
    font-size: 25px;
}
.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: aqua;
}

input{
    border-radius: 30px;
}


h1{
    text-align: center;
}

h1,h2,h3{
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
}

a.bouton{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    border-color: aqua;
}


a.bouton:hover{
    color: black;
    background-color: aqua;
}

.input{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    border-color: aqua;
    background-color:#24252A;
    margin-left: 100px;
}

.input:hover{
    color: black;
    background-color: aqua;
}

.image{
    display: flex;
    font-family: "Montserrat", sans-serif;
    background-color: #24252A;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 50px;
}

.recherche{
    display: flex;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    background-color:#24252A;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#bouton-recherche{
    margin-left: 100px;
}

.select-recherche{
    width: 200px;
    margin-right: 10px;
}

.resultat{
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    background-color:#24252A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos{
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  text-decoration: none;
  background-color:#24252A;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

}

.label-select{
    margin-right: 10px;
}

#titre_info{
  text-align: center;
}

#region{
    margin-right: 150px;
}

#label-recherche{
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    font-size: 20px;
}


#mapid {
    height: 600px;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

#mapid_2 {
    height: 400px;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);

}
#return-to-top:hover i {
    color: aqua;
    top: 5px;
}
